* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Onest", sans-serif;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header {

    display: flex;
    height: 12vh;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    box-shadow: 5px 10px 5px #88888820;
    width: 50%;
}

nav > a {
    color: #18718c;

    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
   font-size: 28px;
}


.boxProduct,
.boxClient,
.boxOrder {
    border: solid rgba(0, 0, 139, 0.281);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    margin: 0;
    width: 50%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

input {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    outline: none;
    padding: 5px;
}

input:active {
    border: solid #30839e;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background: #11404f;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

}

button:hover {
    background-color: #5fa5c2;
}

p {
    color: #18718c;
    font-size: 35px;

}

::placeholder {
    padding: 5px;

}

a {
    color: #18718c;
    font-size: 1.3rem;

}

a:hover {
    scale: 1.1;
    border-bottom: 1px solid #5fa5c2;
}

.boxLabel {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 100px;
    justify-content: space-around;
}

label {
    font-size: 20px;
}

select {
    width: 350px;
    height: 30px;
    margin-top: 10px;

}

.boxButton {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin-top: 20px;
}


table {
    margin-top: 20px;
    width: 90%;
    text-align: center;
    color: #164a5c;
}

.boxHome {

    width: 50%;
    display: flex;
    justify-content: center;

}

img {

    width: 100%;

}
.boxFooter{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: end;

}

.footerName{
    font-size: 16px;
}

footer{
 
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #1212124a;
    
}

